.avatar-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.avatar-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.3s ease;
}

.avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    background: rgba(0, 0, 0, 0.6);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 0.3s ease;
    text-align: center;
}

.avatar-wrapper:hover .avatar-overlay {
    opacity: 1;
}

.avatar-wrapper:hover .avatar-img {
    transform: scale(1.01);
}